div {
    background-color: red;
    margin: 1rem;
}

.titulo {
    font-size: 1.5rem;
    text-align: center;
}
/* todos descendientes de encabezado */
.encabezado a {
    background-color: aqua;
    padding: 1rem;
    border: 0;
    border-radius: 5px;
}

/* los hijos inmeidatos */
.encabezado > button {
    background-color: blueviolet;
    padding: 1rem;
    border: 0;
    border-radius: 5px;

}

/* Hermano adjacente */
h1 + p {
	color: magenta;
}

h2 ~ input {
    background-color: blue;
}